@model IEnumerable<ticaretaspcore.Models.Products>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>Index</h1>
@await Html.PartialAsync("_PartialOurProduct")

